---
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">Je suis là pour vous aider.</Fragment>
    </Sectionhead>

    <div class="mx-auto max-w-4xl mt-16">
      <h2 class="font-medium text-2xl text-gray-800">Me contacter</h2>
      <p class="text-lg leading-relaxed text-slate-500 mt-3">
        Une question ? Un projet ? Contactez‑moi directement par email ou téléphone.
      </p>
      <div class="mt-5">
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
          <span>Proche de Perpignan, France</span>
        </div>
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
          <a href="mailto:elianb.pro@gmail.com">elianb.pro@gmail.com</a>
        </div>
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:phone" />
          <a href="tel:+33756838222">07 56 83 82 22</a>
        </div>
      </div>
    </div>
  </Container>
</Layout>
