---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import PricingCard from "@/components/pricing.astro";

const pricing = [
  {
    name: "Personnel",
    price: "Gratuit",
    popular: false,
    features: [
      "Gratuit à vie",
      "Jusqu'à 3 utilisateurs",
      "Pages illimitées",
      "Sous-domaine Astro",
      "Intégrations basiques",
      "Support communautaire",
    ],
    button: {
      text: "Commencer",
      link: "/",
    },
  },
  {
    name: "Startup",
    price: {
      monthly: "19€",
      annual: "16€",
      discount: "10%",
      original: "24€",
    },
    popular: true,
    features: [
      "Toutes les fonctionnalités gratuites",
      "Jusqu'à 20 utilisateurs",
      "20 domaines personnalisés",
      "Collaborateurs illimités",
      "Intégrations avancées",
      "Support prioritaire",
    ],
    button: {
      text: "Commencer",
      link: "#",
    },
  },
  {
    name: "Enterprise",
    price: "Sur mesure",
    popular: false,
    features: [
      "Toutes les fonctionnalités Pro",
      "Domaines personnalisés illimités",
      "SLA 99.99% de disponibilité",
      "Intégration SAML & SSO",
      "Gestionnaire de compte dédié",
      "Support téléphonique 24/7",
    ],
    button: {
      text: "Nous contacter",
      link: "/contact",
    },
  },
];
---

<Layout
  title="Tarifs"
  description="Découvrez mes tarifs pour l'assistance informatique, le développement backend et l'automatisation. Formules adaptées aux particuliers et petites entreprises. Devis personnalisé sur demande."
>
  <Container>
    <Sectionhead>
      <Fragment slot="title">Tarifs</Fragment>
      <Fragment slot="desc">
        Des tarifs simples et prévisibles. Pas de surprises.
      </Fragment>
    </Sectionhead>

    <div
      class="grid md:grid-cols-3 gap-10 mx-auto max-w-(--breakpoint-lg) mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
