---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Je travaille avec ces technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <Icon class="size-8 md:size-12" name="simple-icons:javascript" />
    <Icon class="size-8 md:size-12" name="simple-icons:c" />
    <Icon class="size-8 md:size-12" name="simple-icons:wordpress" />
    <Icon class="size-8 md:size-16" name="simple-icons:linux" />
    <Icon class="size-8 md:size-16" name="simple-icons:gnubash" />
    <Icon class="size-8 md:size-12" name="simple-icons:ovh" />

  </div>
</div>
